html, body{
	height:100%;
}
body{
	background-color: #323232;
	color: #F0F0F0;
	margin:0;
}
#toggable_panel{
	background-color: #323232;
	position:absolute;
	display:none;
}

#search_panel{
	/* min-height:5%; */
	width:100%;
	background-color: #282828;
	text-align:center;
	padding:3% 0;
}

#main_panel{
	width:100%;
}
#main_panel > div{
	padding:1.5% 3%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
@media (max-width: 500px) {
	#main_panel>div{
		justify-content: center;
	}
}
